/* Tailwind! */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* variables */
:root {
  --color-primary: rgb(0, 195, 165);
  --color-secondary: rgb(224, 247, 244);
  --color-tertiary: rgb(213, 213, 213);
  --color-buttons: rgb(47, 87, 174);
}

/* reset rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}



/* styles */

.hero {
  background-color: var(--color-secondary);
  position: relative;
  border-radius: 15px;
}

.custom-search-hero {
  background-color: var(--color-buttons);
  border-radius: 999px;
  padding: 30px;
  color: white;
}

.custom-bg-form{
  background-color: var(--color-primary);
  width: 55%;
  margin: 0 auto;
  border-radius: 15px;
  margin-top: 2rem;
  padding: 2rem;
}

.custom-button{
  background-color: var(--color-buttons);
  border-radius: 999px;
  color: white;
}

.button-hero-container {
  position: relative;
  display: inline-block;
}

.search-text {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.4s linear;
  background-color: var(--color-tertiary);
  border-radius: 999px;
  padding: 6px;
}

.button-hero-container:hover .search-text {
  visibility: visible;
  opacity: 1;
}

.hero-container{
  background-color: var(--color-primary);
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.bgprimary{
  background-color: var(--color-primary);
}

.bgsecondary {
  background-color: var(--color-secondary);
}

input[type="file"] {

  all: unset; 
  cursor: pointer;
}

.custom-search-section{
  border-radius: 15px;
}



@media (max-width: 862px) {
  .pad-b {
    padding-bottom: 30px;
  }
  .hide-on-mobile {
    display: none;
  }
  .layout-mediaQ {
    justify-content: center;
    margin: 20px;
  }
  .hero__subtitle {
    font-size: 0.9rem;
  }
  .hero__title {
    font-size: 1.9rem;
    padding-bottom: 5px;
  }
}

.logoSize{
  height: 60px;
  width: 60px;
}